body {
	background: white url(pinstripes.png) repeat; 
	margin: 0;
	font-family: Arial, sans-serif;
	color: black;
	padding-bottom: 200px;
}
h1 {
	background: url(toolbar.png) #6d84a2 repeat-x;
	margin: 0; padding: 8px; 
	line-height: 16px; 
	font-size: 16px; 
	font-weight: bold; 
	text-align: center; 
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
	color: #FFFFFF; 
	border-bottom: 1px solid #2d3642;
}
table {
	table-layout: auto;
	background-color: white;
	border-style: none; 
	border-collapse: collapse;
	width: 100%
}
td, th {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: clip;
}
/* Odd table rows are rendered in light blue, by default */
table tr:nth-child(odd) {
	background-color: #edf1ff;
}

/* By default, the first cell in each row aligns left with padding */
tr td:first-child {
	text-align: left;
	padding-left: 8px;
}

/* Completely hide our hidden rows */
tr.hidden { display: none; }

/*** HEADING ROW ***/
tr th {
	background-color: rgb(255, 204, 51); 
	font-style: bold;
	font-size: 14px;
	line-height: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	border-width: 0px 1px;
	text-align: right;
}
/* Some overrides... */
tr th:first-child {
	text-align: left;
	padding-left: 8px;
	width: 25%;
}
tr th:nth-child(2) {
	padding-left: 0px;
}
tr th.last {
	padding-right: 8px;
}

/* Default table cell */
td {
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	text-align: right;
	white-space: nowrap;
}

/***  SYMBOL ROWS  ***/
tr.symbol td {
	background-color: #4e619b; 
	color: white; 
	font-size: 12px;
	line-height: 14px;
	border-top: 1px solid black;
}
tr.symbol td:first-child {
	text-align: left;
	padding-left: 8px;
	overflow: visible;
}
tr.symbol td.last {
	padding-right: 8px;
}
tr.symbol span.na {
	color: #a7b0cd;
}

/*** STRATEGY ROWS ***/
tr.strategy td {
	color: black;
	font-size: 13px;
	line-height: 15px;
	border-top: 1px solid #E0E0E0;
}
tr.strategy td:first-child {
	text-align: left;
	padding-left: 20px;
	overflow: visible;
}
tr.strategy td.last {
	padding-right: 8px;
}
tr.strategy span.na {
	color: #7f7f7f;
}

/*** SUMMARY ROW ***/
tr.summary td { 
	background-color: #35426a;
	color: white; 
	font-style: italic;
	font-size: 14px;
	line-height: 20px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
tr.summary td:first-child {
	text-align: left;
	padding-left: 8px;
}
tr.summary td.last {
	padding-right: 8px;
}

/* Other */
.version { 
	font-size: 12px;
	line-height: 20px;
	padding-right: 8px;
	color: black;
	float: right;
}
.eventReport {
	font-size: 12px;
	line-height: 20px;
	padding-left: 8px;
	color: black;
	float: left;
}